In [16]:
import pandas as pd

serie_1 = pd.Series([1, 2, 3, 4, 5])
usuarios = pd.Series(['elmer.alpuche', 'jose.perez', 'juan.lopez', 'maria.lopez', 'luis.lopez'])
dominios = pd.Series(['gmail.com', 'hotmail.com', 'yahoo.com', 'outlook.com', 'live.com'])
serie_1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
serie_2 = serie_1 + 'a'
serie_2

0    aa
1    ba
2    ca
3    da
4    ea
dtype: object

In [15]:
serie_2 = serie_1 * 10
serie_2

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [17]:
## Funcion map es muy similar a la funcion entre series

def suma_10(x):
    return x + 10

def convertir_a_string(x):
    return str(x)
    

lista = [1, 2, 3, 4, 5]
list(map(suma_10, lista))

list(map(convertir_a_string, lista))

['1', '2', '3', '4', '5']

In [22]:
correo_electronico = usuarios + '@' + dominios
print(correo_electronico)

0    elmer.alpuche@gmail.com
1     jose.perez@hotmail.com
2       juan.lopez@yahoo.com
3    maria.lopez@outlook.com
4        luis.lopez@live.com
dtype: object

In [26]:
correo_electronico = usuarios *  2
print(correo_electronico)

0    elmer.alpucheelmer.alpuche
1          jose.perezjose.perez
2          juan.lopezjuan.lopez
3        maria.lopezmaria.lopez
4          luis.lopezluis.lopez
dtype: object

In [33]:
## Funciones vectorizadas

serie_1 = pd.Series([1, 2, 3, 4, 5])
serie_2 = serie_1.add(10)
serie_3 = serie_1.sub(10)
seria_4 = serie_1.mul(10)
serie_5 = serie_1.div(10)
type(serie_5)

pandas.core.series.Series

In [49]:
## Funciones de agregacion
import numpy as np

serie_1 = pd.Series([1, 2, 3, 4, 5, 500, -200])
print(serie_1.sum())
print(serie_1.mean())
print(serie_1.median())
print(serie_1.std())
print(serie_1.max())
print(serie_1.min())
print(serie_1.count())
type(serie_1.count())

315
45.0
3.0
214.4294755857972
500
-200
7

numpy.int64