In [2]:
import pandas as pd

# Ejemplo de dataframe con calificaciones
data = {
    'Estudiante': ['Ana', 'Ana', 'Ana', 'Luis', 'Luis', 'Luis', 'María', 'María', 'María'],
    'Materia': ['Matemáticas', 'Historia', 'Ciencias', 'Matemáticas', 'Historia', 'Ciencias', 'Matemáticas', 'Historia', 'Ciencias'],
    'Calificación': [85, 90, 78, 88, 85, 92, 90, 88, 85]
}

df = pd.DataFrame(data)
df

  Estudiante      Materia  Calificación
0        Ana  Matemáticas            85
1        Ana     Historia            90
2        Ana     Ciencias            78
3       Luis  Matemáticas            88
4       Luis     Historia            85
5       Luis     Ciencias            92
6      María  Matemáticas            90
7      María     Historia            88
8      María     Ciencias            85

In [12]:
## Crear filtros

def funcion_imprimir_mensaje(estudiante, suma_calificaciones, promedio_calificaciones):
    print(f"Suma y promedio de calificaciones de {estudiante}: {suma_calificaciones}, {round(promedio_calificaciones)}")

calificaciones_ana = df[df['Estudiante'] == 'Ana']
calificaciones_luis = df[df['Estudiante'] == 'Luis']
calificaciones_maria = df[df['Estudiante'] == 'María']

funcion_imprimir_mensaje('Ana', calificaciones_ana['Calificación'].sum(), calificaciones_ana['Calificación'].mean())
funcion_imprimir_mensaje('Luis', calificaciones_luis['Calificación'].sum(), calificaciones_luis['Calificación'].mean())
funcion_imprimir_mensaje('María', calificaciones_maria['Calificación'].sum(), calificaciones_maria['Calificación'].mean())
print("La calificación más alta en el DataFrame es:", df['Calificación'].max())
print("La calificación más baja en el DataFrame es:", df['Calificación'].min())

Suma y promedio de calificaciones de Ana: 253, 84
Suma y promedio de calificaciones de Luis: 265, 88
Suma y promedio de calificaciones de María: 263, 88
La calificación más alta en el DataFrame es: 92
La calificación más baja en el DataFrame es: 78